 <div class="content_post" style="background-image: url(<%= rails_blob_path(tweet.image) %>);">
      <div class="more">
          <% if user_signed_in? && current_user.id == tweet.user_id %>
            <%= link_to '×', tweet_path(tweet.id), method: :delete %>
          <%end%>
      </div>
    </div>

      <div class="text_area">
      <p class="date"><%= tweet.created_at.strftime('%Y/%m/%d') %></p>
            <a href="/users/<%= tweet.user.id %>" class="user">
          <span>投稿者:</span><%= tweet.user.nickname %>
        </a>
      <p class="text"><%= tweet.text %></p>
      </div>