<!DOCTYPE html>
<html id="time_change1" class="time_5to7">
  <head>
    <title>Monkey.z50j</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script type="text/javascript">
    /*==== クラス切り替え関数 ====*/
function flipCSS(){
//--> 要素を取得
var box = document.getElementById("time_change1");
//--> 時刻（h）を取得
var myTime = new Date();
var myHours = myTime.getHours();
//--> 「h」によってクラス名を切り替える
if (myHours >= 5 && myHours <= 7) {
box.className = "time_5to7"
} else if (myHours >= 8 && myHours <= 11) {
box.className = "time_8to11"
} else if (myHours >= 12 && myHours <= 13) {
box.className = "time_12to13"
} else if (myHours >= 14 && myHours <= 16) {
box.className = "time_14to16"
} else if (myHours >= 17 && myHours <= 19) {
box.className = "time_17to19"
} else if (myHours >= 20 && myHours <= 22) {
box.className = "time_20to22"
} else if (myHours >= 23 && myHours <= 24) {
box.className = "time_23to4"
} else if (myHours >= 0 && myHours <= 4) {
box.className = "time_23to4"
}
}
setInterval(flipCSS,1000);
</script>
   <script type="text/javascript">
    /*==== クラス切り替え関数 ====*/
function flipCSS(){
//--> 要素を取得
var box = document.getElementById("time_change2");
//--> 時刻（h）を取得
var myTime = new Date();
var myHours = myTime.getHours();
//--> 「h」によってクラス名を切り替える
if (myHours >= 5 && myHours <= 7) {
box.className = "time_5to7"
} else if (myHours >= 8 && myHours <= 11) {
box.className = "time_8to11"
} else if (myHours >= 12 && myHours <= 13) {
box.className = "time_12to13"
} else if (myHours >= 14 && myHours <= 16) {
box.className = "time_14to16"
} else if (myHours >= 17 && myHours <= 19) {
box.className = "time_17to19"
} else if (myHours >= 20 && myHours <= 22) {
box.className = "time_20to22"
} else if (myHours >= 23 && myHours <= 24) {
box.className = "time_23to4"
} else if (myHours >= 0 && myHours <= 4) {
box.className = "time_23to4"
}
}
setInterval(flipCSS,1000);
</script>
  </head>
<div id="time_change2" class="time_5to7">
  <body>
  <header class="header">
    <div class="header__bar row">
      <h1 class="grid-6"><a href="/">Monkey.z50j</a></h1>
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <span><%= current_user.nickname %>
            <ul class="user__info">
              <li>
                <%= link_to "マイページ", "/users/#{current_user.id}" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </span>
          <%= link_to "投稿する", new_tweet_path, class: "post" %>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to "ログイン", new_user_session_path, class: "post" %>
          <%= link_to "新規登録", new_user_registration_path, class: "post" %>
        </div>
      <% end %>
    </div>
  </header>
    <%= yield %>
     <footer>
      <p>
        Copyright Monkey.z50j 2019.
      </p>
    </footer>
  </body>
  </div>
</html>
